{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Category Sidebar -->
            <div id="aside" class="col-md-3">
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">
                        {% for cat in categories %}
                        <div class="input-checkbox">
                            <a href="{% url 'shopease:category' cat.id %}" 
                               class="{% if cat.id == category.id %}active{% endif %}">
                                {{ cat.name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Products Grid -->
            <div id="store" class="col-md-9">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ product.category.name }}</p>
                                <h3 class="product-name">
                                    <a href="{% url 'shopease:product_detail' product.id %}">{{ product.name }}</a>
                                </h3>
                                <h4 class="product-price">${{ product.price }}</h4>
                            </div>
                            <div class="add-to-cart">
                                <a href="{% url 'shopease:product_detail' product.id %}" class="add-to-cart-btn">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        {% if products.has_previous %}
                        <li><a href="?page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% for num in products.paginator.page_range %}
                        <li {% if products.number == num %}class="active"{% endif %}>
                            <a href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}

                        {% if products.has_next %}
                        <li><a href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}